.box1 {
    background-color: antiquewhite;
    font-size: medium;
    color: blue;
    border: 10px;
    border-style: inset;
}

.label1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    text-indent: 2em;
    border: 5px;
    border-style: outset;
    font-style: italic;
    color: orange;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: darkslateblue;
    text-align: left;
    text-indent: 2em;
}

.label2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    text-indent: 2em;
    border: 5px;
    border-style: outset;
    font-style: italic;
    color: orange;
}

.label21 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    text-indent: 2em;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: darkslateblue;
    text-align: left;
    text-indent: 2em;
}

.label22 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    text-indent: 2em;
}

.list1 {
    color: darkslateblue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.label3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-align: left;
    text-indent: 2em;
    border: 5px;
    border-style: outset;
    font-style: italic;
    color: orange;
}

.container {
    width: 1000px;
    margin: auto;
}

.label3 p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: black;
}