.header {
    width: 1000px;
    margin: auto;
    background-color: antiquewhite;
    letter-spacing: 1em;
    text-align: center;
}

.Box {
    width: 1000px;
    margin: auto;
    background-color: lightgrey;
    text-align: center;
}

.box1 {
    text-align: auto;
}

ul {
    padding: 0%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.box1 button {
    width: 33px;
    height: 26px;
    background-image: url(../img/index_uncon.png);
}

.box1 button {
    background-color: white;
}

.button_con {
    float: left;
}