.header {
    width: 1000px;
    margin: auto;
}

.container {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    letter-spacing: 1em;
}

.box1 {
    width: 1000px;
    margin: auto;
}

.box2 {
    background-color: lightblue;
    border: 2px;
    border-color: blue;
    border-style: solid;
}

.box2 h3 {
    text-indent: 2em;
}

.left {
    width: 85%;
    height: 800px;
    background-color: lightskyblue;
    float: left;
    margin-top: 1em;
}

.right {
    width: 15%;
    height: 800px;
    float: right;
    margin-top: 1em;
    background-color: mediumturquoise;
}

input {
    margin-left: 50px;
}

.upbutton {
    background-color: deepskyblue;
    height: 30px;
    width: 100px;
    color: black;
    border: 1px;
    border-radius: 5px;
    border-style: outset;
    margin-left: 75px;
    margin-top: 20px;
}

button:hover {
    color: red;
    font-weight: bold;
}

table {
    width: 800px;
    height: 600px;
    background-color: white;
    margin: auto;
    text-align: center;
}

li {
    list-style: none;
}

.right a {
    text-decoration: none;
    color: firebrick;
}

.right a:hover {
    color: greenyellow;
}

th {
    text-align: center;
}

.downbutton {
    width: 83px;
    height: 22px;
}